[profile.default]
src = "src"
script = "script"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
fs_permissions = [
    { access = "read-write", path = "./deployments/" },
    { access = "read", path = "./" }
]
ffi = true

[profile.ci]
verbosity = 2
ffi = false
